{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "mise"
    "autoconf"
    "openssl@1.1"
    "wxwidgets"
    "bat"
    "curl"
    "direnv"
    "fzf"
    "gh"
    "git"
    "jq"
    "openjdk"
    "neovim"
    "neonctl"
    "ripgrep"
    "starship"
    "terraform"
    "tmux"
    "turso"
    "wget"
    "xz"
    "zoxide" -}}

{{ $casks := list
    "hammerspoon"
    "font-hack-nerd-font"
    "1password-cli" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
