#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "mise"
    "autoconf"
    "uv"
    "openssl@1.1"
    "borgbackup"
    "bat"
    "curl"
    "direnv"
    "gleam"
    "fzf"
    "gh"
    "git"
    "helm"
    "jq"
    "just"
    "libdvdcss"
    "minikube"
    "podman"
    "openjdk"
    "neovim"
    "neonctl"
    "ripgrep"
    "rclone"
    "starship"
    "terraform"
    "tmux"
    "wget"
    "xz"
    "zoxide" -}}

{{ $casks := list
    "raspberry-pi-imager"
    "ghostty"
    "tailscale"
    "discord"
    "devpod"
    "chatgpt"
    "obsidian"
    "raycast"
    "jetbrains-toolbox"
    "visual-studio-code"
    "font-hack-nerd-font"
    "zed"
    "1password-cli" -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

GH_TOKEN={{ (onepasswordItemFields  "n5734ev4djb7tpw4gzqie4zpgu").Token.value }}  gh extension install github/gh-copilot --force
