[default]
aws_access_key_id={{ (onepasswordDetailsFields "o4drv7z4wnacdhqborwcppvriu").username.value }}
aws_secret_access_key={{ (onepasswordDetailsFields "o4drv7z4wnacdhqborwcppvriu").password.value }}
