# This is Git's per-user configuration file.
[user]
	name = Zachary Maillard
	email = {{ .email }}
[pull]
        rebase = true
[core]
        editor = vim
[pager]
        diff = false
        core = false
        branch = false
{{ if eq .chezmoi.hostname "lt-zmaillard" }}
[url "https://zmaillard:{{ .ghcli }}@github.com"]
	insteadOf = https://github.com
[init]
        templatedir = /home/zmaillard/.git-template/
{{ end }}
