#!/bin/bash
{{ if ne .chezmoi.os "darwin" -}}
export PATH=$HOME/.asdf/bin:$PATH
{{ end -}}

{{ if ne .chezmoi.os "darwin" -}}
asdf plugin-add python https://github.com/asdf-community/asdf-python
{{ end -}}

{{ if .personal }}
asdf plugin add erlang https://github.com/asdf-vm/asdf-erlang.git
asdf plugin add elixir https://github.com/asdf-vm/asdf-elixir.git
asdf plugin add elm https://github.com/asdf-community/asdf-elm.git
asdf plugin add rebar https://github.com/Stratus3D/asdf-rebar.git
asdf plugin add gleam https://github.com/asdf-community/asdf-gleam.git
{{ else }}
asdf plugin-add terraform https://github.com/asdf-community/asdf-hashicorp
asdf plugin-add rust https://github.com/code-lever/asdf-rust.git
asdf plugin-add just https://github.com/olofvndrhr/asdf-just
asdf plugin-add yarn https://github.com/twuni/asdf-yarn
asdf plugin-add golang https://github.com/asdf-community/asdf-golang.git
asdf plugin-add neovim https://github.com/richin13/asdf-neovim
{{ end }}

asdf plugin-add nodejs https://github.com/asdf-vm/asdf-nodejs.git

asdf install
