# This is Git's per-user configuration file.
[user]
	name = {{ .fullname }}
	email = {{ .email }}
[pull]
        rebase = true
[core]
        editor = vim
        {{ if not .personal -}}
        sshCommand = ssh.exe
        {{ end -}}
[pager]
        diff = false
        core = false
        branch = false
[init]
        templatedir = {{ .chezmoi.homeDir }}/.git-template/

