{{ if (not .ephemeral) -}}
[tools]
babashka = "1.4.192"
gleam = "latest"

{{ if (not .personal) }}
python="3.12.1"
golang="1.22.0"
yarn="1.22.22"
neovim="stable"
nodejs="22"
deno="1.46.2"
{{ end }}
{{ end -}}
