{{- if ne .chezmoi.os "darwin" -}}
python 3.12.1
{{ end -}}
{{ if .personal }}
erlang 24.0.4
elixir 1.16.2-otp-24
elm 0.19.1
gleam 1.2.0
rebar 3.22.1
{{ else }}
golang 1.22.0
just 1.24.0
terraform 0.11.15
yarn 1.22.22
neovim stable
{{ end -}}
nodejs 20.15.1
