{{ if (not .ephemeral) -}}
# IDE Support for Mise
export PATH="{{ .chezmoi.homeDir }}/.local/share/mise/shims:$PATH"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# Added by Toolbox App
export PATH="$PATH:{{ .chezmoi.homeDir }}/Library/Application Support/JetBrains/Toolbox/scripts"
{{ end -}}

{{ if stat (joinPath .chezmoi.homeDir ".orbstack" "shell" "init.zsh") }}
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{ end }}

