# This is Git's per-user configuration file.
[user]
	name = {{ .fullname }}
	email = {{ .email }}


{{ if stat (joinPath "/Applications" "1Password.app" "Contents" "MacOS" "op-ssh-sign") }}
	signingkey = {{ (onepasswordDetailsFields "6nb4xrtpltctnb73kzxgf33bne").public_key.value }}
{{ end }}

[pull]
        rebase = true
[core]
        editor = vim
        {{ if not .personal -}}
        sshCommand = ssh.exe
        {{ end -}}
[pager]
        diff = false
        core = false
        branch = false


{{ if stat (joinPath "/Applications" "1Password.app" "Contents" "MacOS" "op-ssh-sign") }}
[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true
{{ end }}

