{{ if and (eq .chezmoi.os "darwin" "linux") -}}

{{ $extensions := list
     "vscodevim.vim"
     "vscode-icons-team.vscode-icons"
     "EditorConfig.EditorConfig"
     "ms-vscode-remote.remote-containers"
     "ms-vscode-remote.remote-ssh"
     "ms-vscode-remote.remote-ssh-edit"
     "ms-vscode-remote.vscode-remote-extensionpack"
     "ms-dotnettools.csharp"
     "ms-dotnettools.csdevkit"
     "ms-dotnettools.vscode-dotnet-runtime"
     "ms-dotnettools.vscodeintellicode-csharp"
     "redhat.vscode-yaml"
     "esbenp.prettier-vscode" -}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
