[r2]
type = s3
provider = Cloudflare
access_key_id = {{ (onepasswordItemFields "aqxgmo33idwfqaanuol2k7lp6q").AccessKeyId.value }}
secret_access_key = {{ (onepasswordItemFields "aqxgmo33idwfqaanuol2k7lp6q").secretaccesskey.value }}
endpoint = https://328471a82e8e2e18d0bcc66d0b048db7.r2.cloudflarestorage.com

