{{ if eq .osid "linux-ubuntu" -}}
{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}
#! /bin/bash
set -eufo pipefail

{{ $sudo }}add-apt-repository ppa:maveonair/helix-editor
{{ $sudo }}apt update
{{ $sudo }}apt install helix -y

{{ end -}}
