{{ if eq .osid "linux-ubuntu" -}}
#!/bin/bash

# Use Microsoft Packages For dotnet, aspnet, netstandard
echo -e 'Package: dotnet* aspnet* netstandard*\nPin: origin "archive.ubuntu.com"\nPin-Priority: -10' | sudo tee /etc/apt/preferences


# Get Ubuntu version
declare repo_version=$(if command -v lsb_release &> /dev/null; then lsb_release -r -s; else grep -oP '(?<=^VERSION_ID=).+' /etc/os-release | tr -d '"'; fi)

# Download Microsoft signing key and repository
curl -L https://packages.microsoft.com/config/ubuntu/$repo_version/packages-microsoft-prod.deb -o packages-microsoft-prod.deb

# Install Microsoft signing key and repository
sudo dpkg -i packages-microsoft-prod.deb

# Clean up
rm packages-microsoft-prod.deb

# Update packages
sudo apt update && sudo apt-get install -y dotnet-sdk-7.0 dotnet-sdk-6.0

{{ end -}}
