{{ if (and (eq .osid "linux-debian"  "linux-ubuntu") (not .personal) (not .ephemeral)) -}}
#!/bin/bash

# Get OS version info
source /etc/os-release

# Download Microsoft signing key and repository
wget https://packages.microsoft.com/config/$ID/$VERSION_ID/packages-microsoft-prod.deb -O packages-microsoft-prod.deb

# Install Microsoft signing key and repository
sudo dpkg -i packages-microsoft-prod.deb

sudo add-apt-repository ppa:dotnet/backports

# Clean up
rm packages-microsoft-prod.deb

# Update packages
sudo apt update && sudo apt-get install -y dotnet-sdk-6.0 dotnet-sdk-8.0
{{ end -}}
