#!/bin/bash
$HOME/.asdf/bin/asdf plugin-add python https://github.com/asdf-community/asdf-python
$HOME/.asdf/bin/asdf plugin-add terraform https://github.com/asdf-community/asdf-hashicorp
$HOME/.asdf/bin/asdf plugin-add rust https://github.com/code-lever/asdf-rust.git
$HOME/.asdf/bin/asdf plugin-add just https://github.com/olofvndrhr/asdf-just

$HOME/.asdf/bin/asdf install
