{{ if eq .osid "linux-ubuntu" "linux-debian" -}}

{{ $packages := list
	"direnv" 
	"build-essential"
	"iproute2"
	"fzf" 
	"git" 
    "zlib1g-dev"
    "libb2-dev"
	"zsh" 
	"unzip"
	"ripgrep" 
	"zoxide" 
	"libssl-dev"
	"automake"
	"autoconf"
    "tmux"
	"wget"
	"make"
	"jq" -}}

{{ if eq .osid "linux-ubuntu" -}}
{{ $ubuntuPackages := list "zellij" -}}
{{ $packages = concat $packages $ubuntuPackages -}}
{{ end -}}

{{ if eq .osid "linux-debian" -}}
{{ $rspPackages := list
	"ntpdate" 
	"i2c-tools" 
	"libssl-dev" 
	"zlib1g-dev"
	"curl"
        "ninja-build"
        "gettext"
        "cmake"
        "neovim"
	"libbz2-dev"
	"libreadline-dev"
	"libsqlite3-dev"
	"llvm" 
	"libncursesw5-dev"
	"xz-utils"
	"tk-dev"
	"libxml2-dev"
	"libxmlsec1-dev"
	"libffi-dev"
	"liblzma-dev"
	 -}}

{{   $packages = concat $packages $rspPackages -}}

{{ end -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}
#! /bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{ end -}}
