-- This file can be loaded by calling `lua require('plugins')` from your init.vim

-- Only required if you have packer configured as `opt`
vim.cmd [[packadd packer.nvim]]

return require('packer').startup(function(use)
  -- Packer can manage itself
  use 'wbthomason/packer.nvim'

  use {
	  'nvim-telescope/telescope.nvim', tag = '0.1.5',
	  -- or                            , branch = '0.1.x',
	  requires = { {'nvim-lua/plenary.nvim'} },
      config = function() 
        local builtin = require('telescope.builtin')
        vim.keymap.set('n', '<leader>pf', builtin.find_files, {})
        vim.keymap.set('n', '<C-p>', builtin.git_files, {})
        vim.keymap.set('n', '<leader>ps', function()
            builtin.grep_string({ search = vim.fn.input("Grep > ") });
        end)
      end, 
  }

  use('folke/tokyonight.nvim')

  use{
      'nvim-treesitter/nvim-treesitter', 
      {run= ':TSUpdate'},
      config = function()
        require('lua.plugin.treesitter')
      end,
  }

  {{- if .personal -}}
  use('Olical/conjure')
  use('tpope/vim-dispatch')
  use('clojure-vim/vim-jack-in')
  use('radenling/vim-dispatch-neovim')
  use('gpanders/nvim-parinfer')
  use{
    'dense-analysis/ale',
    config = function()
        local g = vim.g
        g.ale_completion_enabled = 1
        g.ale_linters = {
         clojure = {'clj-kondo', 'joker'}
        }
    end,
  }
  {{- end -}}
  use('nvim-lua/plenary.nvim')
  use{
      'mbbill/undotree',
      config = function() 
        vim.keymap.set("n", "<leader>u",  vim.cmd.UndotreeToggle)
      end, 
  }
  use{'tpope/vim-fugitive',
    config = function() 
      vim.keymap.set("n", "<leader>gs", vim.cmd.Git);
    end, 
  }
  use('tpope/vim-eunuch')
  use('kylechui/nvim-surround')
  use('sQVe/sort.nvim')
  use {
    'nvim-lualine/lualine.nvim',
    requires = { 'nvim-tree/nvim-web-devicons', opt = true },
    config = function() 
        require('lualine').setup()
    end, 
  }

  use {
    "zbirenbaum/copilot.lua",
    cmd = "Copilot",
    event = "InsertEnter",
    config = function()
      require("copilot").setup()
    end,
  }

  use {'williamboman/mason.nvim'}
  use {'williamboman/mason-lspconfig.nvim'}

  use {'neovim/nvim-lspconfig'}
  use {'L3MON4D3/LuaSnip'}


  use {'mfussenegger/nvim-dap'}
  use {'rcarriga/nvim-dap-ui'}
  use {'theHamsta/nvim-dap-virtual-text'}
  use {'nvim-telescope/telescope-dap.nvim'}


end)
